* {
    --text-color: whitesmoke;
}

a {
    color: var(--text-color);
}

.return-button {
    background-color: black;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}