    /* Root / Universal */

*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    --text-color: whitesmoke;
}

    /* Element Tags */ 

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: hsl(210, 20%, 50%);
}

details {
    padding: 1rem;
}

h1, summary {
    text-decoration: underline overline double hsl(200, 60%, 75%);
}

header {
    border: 1em hsl(0, 0%, 80%) double;
    background: linear-gradient(slategrey, lightslategray);
    text-align: center;
    margin: 0.2rem;
    padding: 1rem;
  }

html {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

    /* Classes */

.content-frame {
    border: 1rem hsl(0, 0%, 80%) double;
    height: 90vh;
}

.link-box {
    background-color: lightslategray;
    border: 0.4rem double hsl(0, 0%, 80%);
    outline: 0.1rem dashed hsl(0, 0%, 80%);
    margin: 0.4rem auto;
    padding: 0.2rem;
}
